<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/change_password.css">
</head>

<body>
    <h1>Change Password</h1>
    <div class="changePpassword">
        <form action="/change-password" method="POST">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" maxlength="14" minlength="6" required>

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>

            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            {{#if error}}
            <p style="color: red;">{{error}}</p>
            {{/if}}

            <button type="submit">Change Password</button>
        </form>
    </div>
</body>

</html>